.container-cards{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 30px;

}

.infos-img{

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.card{
    height: 200px;
    width: 500px;
    background: #F2B077;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}
li {

    display: flex;

}
.nome{

    font-size: 2rem;

}
.img-card{

    width: 30%;
    height: 80%;

}
.promocaoOn{

    display: flex;
    align-self: flex-end;
    padding-bottom: 5px;
    height: 60%;
    transform: rotate(-15deg);

}
.promocaoOff{

    display: flex;
    align-self: flex-end;
    padding-bottom: 5px;
    height: 60%;
    transform: rotate(-15deg);
    display: hidden;

}