section{

    overflow: auto;

}
.linha{

    height: 1px;
    width:20%;
    background-color: #400101;

}
.titulo{

    font-size: 4rem;

}
.titulo-container{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
