.card-options{

    display: flex;
    gap: 50px;
    justify-content: space-between;

}
.icon{

    height: 70%;
    cursor: pointer;
}
.options{

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}