main{

    height: 74.7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.pizza{

   width: 20%;
   padding-right: 150px;
   
}
.fatia{
    padding-left: 150px;
    width: 25%;
    transform: rotate(15deg);
}
form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.input-titulo{

    display: flex;
    gap: 35px;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
form input{

    border: none;
    height: 43px;

}
.button{   
    background-color: #8C2730;
    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: 'Libre Baskerville';
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.buttonFooter{

    width: 70%;
    height: 50px;
    font-size: 1.5rem;
    color: #fff;

}
.login-container{

    display: flex;
    flex-direction: column;
    gap: 40px;

}

@media(max-width:1880px){
    
    main{

        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .pizza{

        display:none;
        
    }
    .fatia{

        display:none;

    }
}